html {
  height: 100%;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.title{
color:rgba(0, 0, 0, 0.5);
	
	
	font-size:50px;
	
	
}
.titleName{
	color:rgba(0, 0, 0, 0.5);
	background-image:url('../images/boutique.jpg');
	font-size:50px;

	border:solid 1px black;

}
.picture{
	
}

.er-picture{
	width:50%;
	height:50%;
}

.category{
	width:100%;
	display:flex;
	justify-content:space-between;
}
footer {
	position: relative; bottom: 0; left: 0; right: 0;
    text-align: center;
    color: white;
}
.pictureArticles{
	height:50px;
	width:15px;
}