<!DOCTYPE html>
<html xmlns:th="http://tymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="../static/css/bootstrap.min.css"	th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" href="../static/css/styles.css"			th:href="@{css/styles.css}">
<title>Home page</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container">
	
			<h1 class="title" style="color:black; text-align:center; vertical-align:center">Welcome to our Online-Shop</h1>
<!-- 			<img class="bg-img" src="../images/boutique.jpg" alt="image"> -->
  </div>
</div>
<!-- 			<div > -->
<!-- 				<img class="picture" alt="coucou" src="../static/images/boutique.jpg" th:src="@{images/boutique.jpg}"> -->
<!-- 			</div> -->
			

</body>

</html>