<!DOCTYPE html>

<html 	xmlns:th = "http://tymeleaf.org"
		xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout">
		
<head>
<meta charset="UTF-8">
<title>Layout</title>
<link rel="stylesheet"  href="../static/css/bootstrap.min.css" 	 th:href="@{css/bootstrap.min.css}">
<link rel="stylesheet" 	href="../static/css/styles.css"			th:href="@{css/styles.css}">
</head>

<body class="body bg-image" 
     style="background-image: url('https://wallpaperaccess.com/full/2677220.jpg');
            height: 100vh">
	<nav class="navbar navbar-primary">
		<div class="container-fluid">
			<div class="navbar-header">
			
			<a class="navbar-brand " href="#" >Pignonline</a>
			
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a th:href="@{/index}">HomePage</a></li>
				<li><a th:href="@{/articles}">Articles list</a></li>
				<li><a th:href="@{/article}">Article</a></li>
				<li><a th:href="@{/cart}">See cart</a></li>
			</ul>
		</div>
	</nav>
	<section layout:fragment="content" style ="height:625px" ></section>
</body>
<footer id="footer" class="bg-dark text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-white text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">ThePignons</a>
  </div>
  <!-- Copyright -->
</footer>
</html>